.overlay {
  font-family: "cabana";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  font-size: 25pt;
}

.container {
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  width: 900px;
  height: 80%;
  background-color: #000;
}

.glitch {
  color: white;
  width: 500px;
  position: relative;
  margin: 0 auto;
  background-color: #000;
}

.found {
  font-size: 6rem;
}

.reward {
  font-size: 4rem;
  width: 300px;
}

.haveFun {
  font-size: 3rem;
  width: 160px;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(34px, 9999px, 50px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 27px, 0);
  }
  10% {
    clip: rect(35px, 9999px, 25px, 0);
  }
  15% {
    clip: rect(100px, 9999px, 28px, 0);
  }
  20% {
    clip: rect(34px, 9999px, 60px, 0);
  }
  25% {
    clip: rect(20px, 9999px, 78px, 0);
  }
  30% {
    clip: rect(9px, 9999px, 82px, 0);
  }
  35% {
    clip: rect(11px, 9999px, 22px, 0);
  }
  40% {
    clip: rect(13px, 9999px, 24px, 0);
  }
  45% {
    clip: rect(56px, 9999px, 73px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 95px, 0);
  }
  55% {
    clip: rect(56px, 9999px, 85px, 0);
  }
  60% {
    clip: rect(20px, 9999px, 79px, 0);
  }
  65% {
    clip: rect(56px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(1px, 9999px, 68px, 0);
  }
  75% {
    clip: rect(27px, 9999px, 41px, 0);
  }
  80% {
    clip: rect(83px, 9999px, 79px, 0);
  }
  85% {
    clip: rect(86px, 9999px, 74px, 0);
  }
  90% {
    clip: rect(62px, 9999px, 14px, 0);
  }
  95% {
    clip: rect(75px, 9999px, 88px, 0);
  }
  100% {
    clip: rect(72px, 9999px, 60px, 0);
  }
}


@keyframes noise-anim-2 {
  0% {
    clip: rect(10px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(50px, 9999px, 14px, 0);
  }
  10% {
    clip: rect(62px, 9999px, 46px, 0);
  }
  15% {
    clip: rect(65px, 9999px, 64px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 85px, 0);
  }
  25% {
    clip: rect(8px, 9999px, 29px, 0);
  }
  30% {
    clip: rect(30px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(7px, 9999px, 82px, 0);
  }
  40% {
    clip: rect(82px, 9999px, 48px, 0);
  }
  45% {
    clip: rect(61px, 9999px, 73px, 0);
  }
  50% {
    clip: rect(45px, 9999px, 19px, 0);
  }
  55% {
    clip: rect(27px, 9999px, 40px, 0);
  }
  60% {
    clip: rect(61px, 9999px, 79px, 0);
  }
  65% {
    clip: rect(92px, 9999px, 76px, 0);
  }
  70% {
    clip: rect(90px, 9999px, 12px, 0);
  }
  75% {
    clip: rect(38px, 9999px, 7px, 0);
  }
  80% {
    clip: rect(27px, 9999px, 93px, 0);
  }
  85% {
    clip: rect(39px, 9999px, 1px, 0);
  }
  90% {
    clip: rect(65px, 9999px, 56px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 25px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 69px, 0);
  }
}
