.header {
  min-height: 60px;
  padding: 20px 0;
}

.logo {
  font-family: 'Grand Hotel';
  font-size: 42px;
  letter-spacing: 1px;
  color: var(--color);

  @media (--small) {
    display: block;
    text-align: center;
  }

  &:active, &:hover{
    color: var(--colorSecondary);    
  }
}
.logo img {
  height: 60px;
}

.nav {
  float: right;
  left: 80px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--small) {
    float: none;
    display: block;
    text-align: center;
  }
}

.nav li {
  display: inline-block;
  padding: 19px 10px;

  margin: 0;
  list-style-type: none;
  text-transform: lowercase;

  @media (--small) {
    padding: 10px 10px;
  }
}

.nav li a {
  font-size: 16px;
  line-height: 1.4;

  &:hover {
    border-bottom: 2px solid var(--color);
  }
}

.active {
  border-bottom: 2px solid var(--color);
}
