.header {
  min-height: 60px;

  @media (--large) {
    padding: 20px 100px;
  }

  @media (--small) {
    padding: 20px 0;
  }
}

.logo {
  float: left;
  font-family: 'cabana';
  letter-spacing: 3pt;
  display: inline-block;
  padding: 9.2px 0px;
  font-weight: bold;
  font-size: 28px;

  @media (--small) {
    float: none;
    display: block;
    text-align: center;
  }
}

.info {
  color: var(--neutral)
}

.logo img {
  height: 60px;
}

.nav {
  float: right;
  left: 80px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--small) {
    float: none;
    display: block;
    text-align: center;
  }
}

.nav li {
  display: inline-block;
  padding: 19px 10px;

  margin: 0;
  list-style-type: none;
  text-transform: uppercase;

  @media (--small) {
    padding: 10px 10px;
  }
}

.nav li a {
  font-size: 16px;
  line-height: 1.4;

  &:hover {
    border-bottom: 2px solid var(--color);
  }
}

.active {
  border-bottom: 2px solid var(--color);
}
