.title {
  margin: 0.65em 0;
  font-size: 1.2em;
}

.link {
  color: var(--color);
  &:hover {
    border-bottom: 2px solid var(--color);
  }
  &:active {
    color: var(--color);
  }
}

.info {
  color: var(--neutral);
  margin: 1em 0;
}

.info span {
  margin-left: 0.5rem;
}

.readMore {
  color: var(--color);
  &:active {
    color: var(--color);
  }
}
