.title {
  margin: 0.65em 0;
  color: var(--text);
  font-size: 1.5em;
}

.link {
   &:hover {
    border-bottom: 2px solid var(--color);
  }
}

.info {
  color: var(--neutral);
  margin: 1.2em 0;
}

.info span {
  margin-left: 0.5rem;
}

.readMore {
  color: var(--color);
}
