code,
pre {
  font-size: .91em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}

pre {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
  padding: .5em .7em;
  margin: 0;
}

code {
  color: #525252;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.7em;
  position: relative;
  background-color: #f8f8f8;
  overflow-y: hidden;
  overflow-x: visible;
  width: auto;
  display: block;
  &:after {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ccc;
    text-align: right;
    font-size: 0.93em;
    padding-right: 10px;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
  }
}

.hljs.language-diff:after {
	content: "DIFF";
}

.hljs.language-js:after { content: "JS"; }
.hljs.language-cs:after { content: "C#" }
.hljs.language-fs:after { content: "F#" }
.hljs.language-haskell:after { content: "HASKELL" }
.hljs.language-html:after { content: "HTML" }
.hljs.language-css:after { content: "CSS" }
.hljs.language-bash:after { content: "BASH" }

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #8C4646;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #ED5276;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #3C989E;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #0D81AB;
}

.hljs-addition {
  color: #14A697;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #ED5276;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
